
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: rgba(0, 162, 255, 0.3);
  border-radius: 5px;
}
:root{
  --primary-color:white;
  --second-color:black;
  --pre-second-color: #0000008c;
  --third-color: #cccccce6;
  --body-color:#e6e6e6;
  --bright: brightness(3);
}
.dark-mode{
  --primary-color:black;
  --second-color:white;
  --pre-second-color: #ffffffa6;
  --third-color: #7d7d7de6;
  --body-color:#303030;
  --bright: brightness(1.2);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: var(--body-color);
  transition: 0.5s;
  overflow: hidden;
}

nav{
  position: fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  background-color: var(--primary-color);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.nav-head{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-head .icon{
  position: relative;
  display: flex;
  min-width: 55px;
  height: 55px;
  color: var(--second-color);
  font-size: 1.75rem;
  padding:10px;
  border-radius: 10px;
  transition: 0.5s;
  justify-content: center;
  align-items: flex-start;
  line-height: 35px;
  color: rgb(100, 206, 171);

}
nav .nav-head .text{
  margin-left: -15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  white-space: nowrap;
}
nav.active .nav-head .text{
  visibility: visible;
  opacity: 1;
  color: rgb(100, 206, 171);
}
.menu-icon{
  position: absolute;
  right: -15px;
  top: 22px;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid var(--body-color);
  border-radius: 5px;
  padding: 0 5px;
  overflow: hidden;
  background-color: var(--primary-color);
  transition: 0.5s;
}
.menu-icon::before{
  content: "";
  height: 2px;
  border-radius: 2px;
  background-color: var(--second-color);
  width: 14px; 
  position: absolute;
  transition: 0.5s;
  transform: translateY(-5px);
}
.menu-icon::after{
  content: "";
  height: 2px;
  border-radius: 2px;
  background-color: var(--second-color);
  width: 14px; 
  position: absolute;
  transition: 0.5s;
  transform: translateY(5px);
  box-shadow: var(--second-color) 0 -5px 0 0;
}

nav.active{
  width: 250px;
}
nav.active .menu-icon::before{
  transform: translateY(0px) rotate(45deg);
}
nav.active .menu-icon::after{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: none;
}
nav ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  transition: 0.5s;
}
nav ul li{
  list-style: none;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  transition:0.5s;
}
nav ul li a{
  text-decoration: none;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}
nav ul li a .icon{
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  line-height: 45px;
  color: var(--second-color);
  font-size: 1.75rem;
  padding:10px;
  border-radius: 10px;
  transition: 0.5s;
}
nav ul li a .icon::before{
  content: "";
  width: 55px;
  height: 55px;
  background-color: var(--clr);
  top: 0;
  left: 0;
  position: absolute;
  filter: blur(5px);
  opacity: 0;
  transition: 0.5s;
}
nav ul li a .text{
  padding-left: 20px;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--second-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  white-space: nowrap;
}

nav.active ul li a .text{
  opacity: 1;
  visibility: visible;
}
nav ul li.active a .icon, nav ul li:hover a .icon{
  background-color: var(--clr);
  color: white;
}
nav ul li.active a .icon::before{
  opacity: 0.7;
}
nav ul li.active a .text{
  color: var(--clr);
}
nav ul li.active{
  transform: translateX(30px);
}
nav.active ul li.active{
  transform: translateX(15px);
}
.color-change{
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
  padding: 0 10px;
  height: 60px;
  transition: 0.5s;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 5px;
  color: var(--second-color);
}
.color-change:hover .icon{
  background-color: var(--second-color);
  color: var(--primary-color);
}

.color-change .icon{
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  line-height: 45px;
  color: inherit;
  font-size: 35px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.color-change .text{
  padding-left: 20px;
  font-size: 18px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  color: inherit;
  white-space: nowrap;
}
nav.active .color-change .text{
  opacity: 1;
  visibility: visible;
}
section{
  left: 0;
  top:0;
  width: 100%;
  height: 100vh;
  color:var(--second-color);
  overflow-y: auto;
  overflow-x: hidden;
}
article{
  padding-left:115px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
article.active{
  opacity: 1;
  visibility: visible;
  position: relative;
}
section.active article{
  padding-left:305px;
}
section .home{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--second-color);
}
.browse{
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  border: 1px solid #e6e6e67c;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  color: #00af69;
}
.browse:hover{
  color: #00f1b5;
  background-color: var(--second-color);
}
section .about{
  display: flex;
  flex-direction: column;
  padding-left:150px;
  justify-content: center;
  align-items: flex-start;
}
.write{
  border-right: 1px solid var(--second-color);
  color: rgb(255, 83, 83);
  visibility: visible;
  width: 0;
  overflow: hidden;
  position: absolute;
  margin-left: 10px;
}
.write.active{
  animation: oc 1s steps(9) ;
  width: 40vw;
  border: none;
}
@keyframes oc {
  0%{
    width: 0;
    border-right:1px solid var(--second-color)
  }
  99%{
    border-right:1px solid var(--second-color)
  }
}
section .about p{
  font-size: 1.9vw;
  font-weight: lighter;
  color: var(--pre-second-color);
}
section .about .btn{
  font-size: 2.3vw;
  color: #00af69;
  padding: 5px 10px;
  border: 1px dashed #00af69;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  color: #00af69;
}
section .about .btn:hover{
  color: var(--primary-color);
  border: 1px dashed var(--body-color);
  background-color: #00af69;
}
section .about .sideback{
  width: 40vw;
  height: 40vw;
  position: absolute;
  background: rgb(0, 110, 255) url("img2.png");
  background-repeat: no-repeat;
  background-size: 20vw;
  background-position: 50% 50%;
  border-radius: 50%;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
}
section .about .cont{
  font-size: 30px;
  width: 16.5vw;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
section .about .cont .facebook,section .about .cont .profilebtn{
  cursor: pointer;
}
.focus{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-color);
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  transition: 0.5s;
}
.profile{
  background-color: var(--primary-color);
  width: 40vw;
  position: absolute;
  padding: 5px 10px 10px;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}
.profile .name{
  display: block;
  font-size:21px;
  border-bottom: 1px rgb(0, 0, 0,0.1) solid; 
  padding-bottom: 5px;
  color: var(--second-color);
}
.profile .text{
  letter-spacing: 1px;
  font-size: 16px;
  color: var(--third-color);
  line-height: 30px;
}
.profile.active{
  visibility: visible;
  opacity: 1;
}
.profile.active ~ .focus{
  visibility: visible;
  opacity: 0.5;
}
.suc-send.active ~ .focus{
  visibility: visible;
  opacity: 0.5;
}
section .skills{
  padding:10px 20px 10px 120px;
  display: flex;
  align-content: space-around;
  min-height: 800px;
  flex-wrap: wrap;
}
section .skills .section{
  min-height: 30vh;
  background-color: var(--primary-color);
  width: 100%;
  transition: 0.5s;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  align-content: flex-start;
}
section .skills .section .title{
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--body-color);
}
section .skills .section .skillscont{
  width: 80%;
}
section .skills .section .skillscont .container{
  width: 100%;
  padding: 3px;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  display: flex;
  transition: 0.5;
}
section .skills .section .skillscont .container .skill{
  width: 0;
  background-color: var(--clr);
  border-radius: 5px;
  color: rgb(250, 250, 250);
  padding: 0 5px;
  transition: 0.5s;
}
section .skills.active .section .skillscont .container .skill{
  width: var(--size);
}
section .skills .section .img{
  background: var(--img);
  height:60%;
  padding-left: 20%;
  background-position: center;
  background-size: 50%;
  margin:auto;
  background-repeat: no-repeat;
}
section .messages{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
section .messages .inputs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: small;
  color: var(--pre-second-color);
  transition: 0.5s;
  overflow: hidden;
}
section .messages .inputs.active{
  transform: scaley(0)  translateY(500px);
}
section .messages .inputs .input{
  margin-top: -7px;
  padding: 7.5px 15px;
  border-radius: 5px;
  border: 1.5px solid var(--third-color);
  background-color: var(--primary-color);
  transition: 0.5s;
  color: var(--third-color);
}

section .messages .inputs .input:focus{
  border: 1.5px solid #018CFF;
  outline: none;
  caret-color: var(--second-color);
  color: var(--second-color);
  transition: 0.2s;
}
section .messages .inputs .input::placeholder{
  transition: 0.5s;
  color: var(--third-color);
}
section .messages .inputs .input:focus::placeholder{
  color: var(--second-color);
  transition: 0.2s;
}
section .messages .inputs textarea{
  min-width: 100%;
  min-height: 150px;
  max-width: 100%;
  max-height: 150px;
  color: var(--second-color) !important;
}
section .messages .inputs .btn{
  padding: 5px 10px;
  padding-left: 35px;
  background: #01DB82 url("img12.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px center;
  color: white;
  font-size: 22px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.5s;
  width: fit-content;
  align-self: center;
  outline: none;
  border: none;

}
section .messages .inputs .btn:hover{
  background: #00c978 url("img11.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px center;

}
.suc-send{
  position: absolute;
  margin-left: 50vw;
  margin-top: 50vh;
  width: 40vw;
  padding: 20px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.suc-send .icon{
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 35px;
  color: #00f1b5;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #00f1b5;
}
.suc-send .text{
  font-size: 30px;
  color: #01DB82;
  margin-bottom: -10px;
}
.suc-send p{
  font-size: medium;
  font-weight: lighter;
  color: var(--third-color);
  letter-spacing: 2px;
}
.suc-send.active{
  visibility: visible;
  opacity: 1;
}







