@media (max-width: 991.98px) {
    section .skills .section .img{
        display: none;
    }
    section .skills .section .skillscont{
        width: 100%;
    }
    section .skills{
        min-height: 800px;
    }
    nav ul li a .icon{
        font-size: 1.5rem;
    }
    .color-change .icon{
        font-size: 25px;
    }
    nav ul li a .icon, .color-change .icon{
        height: 45px;
        min-width: 45px;
        line-height: 35px;
    }
    nav ul li a .icon::before{
        height: 45px;
        width: 45px;
    }
    nav ul{
        gap: 5px;
    }
    nav ul li a .text, .color-change .text{
        font-size: 14px;
    }
    nav{
        width: 65px;
    }
    nav.active{
        width: 220px;
    }
    nav .nav-head .icon{
        height: 45px;
        min-width: 45px;
        line-height: 25px;
    }
    nav.active .nav-head .text{
        margin-left: -10px;
    }
    .menu-icon{
        top: 17px;
    }
    article{
        padding-left: 105px;
    }
    section.active article{
        padding-left: 250px;
    }
    section .about{
        padding-left: 120px;
    }
    section.active .about{
        padding-left: 265px;
    }
    section.active .skills{
        padding-left: 265px;
    }
}
@media (max-width: 767.98px) { 

    .write.active{
        width: 45vw;
    }
    section .about p{
        font-size: 2.2vw;
    }
    nav.active{
        width: 100%;
        inset: 0px;
    }
    nav.active .menu-icon{
    right: 10px;
    }
    nav.active ul li a .icon, nav.active .color-change .icon{
        height: 65px;
        min-width: 65px;
        line-height: 55px;
    }
    nav.active ul li a .icon::before{
        height: 65px;
        min-width: 65px;
        line-height: 55px;
    }
    nav.active ul{
        gap: 30px;
    }
    nav ul li a .text, .color-change .text{
        font-size: 20px;
    }
    nav.active ul li,nav.active .color-change{
        transform: translateX(50px);
    }
    nav.active ul li.active{
        transform: translateX(70px);
    }
 }


