@media (max-width: 991.98px) {
    section .skills .section .img{
        display: none;
    }
    section .skills .section .skillscont{
        width: 100%;
    }
    nav ul li a .icon{
        font-size: 1.5rem;
    }
    .color-change .icon{
        font-size: 25px;
    }
    nav ul li a .icon, .color-change .icon{
        height: 45px;
        min-width: 45px;
        line-height: 35px;
    }
    nav ul li a .icon::before{
        height: 45px;
        width: 45px;
    }
    nav ul{
        gap: 5px;
    }
    nav ul li a .text, .color-change .text{
        font-size: 14px;
    }
    nav{
        width: 65px;
    }
    nav.active{
        width: 220px;
    }
    nav .nav-head .icon{
        height: 45px;
        min-width: 45px;
        line-height: 25px;
    }
    nav.active .nav-head .text{
        margin-left: -10px;
    }
    .menu-icon{
        top: 17px;
    }
    article{
        padding-left: 105px;
    }
    section.active article{
        padding-left: 250px;
    }
    section .about{
        padding-left: 120px;
    }
    section.active .about{
        padding-left: 265px;
    }
    section.active .skills{
        padding-left: 265px;
    }
}
@media (max-width: 767.98px) { 

    .write.active{
        width: 45vw;
    }
    section .about p{
        font-size: 2.2vw;
    }
    nav.active{
        width: 100%;
        inset: 0px;
    }
    nav.active .menu-icon{
    right: 10px;
    }
    nav.active ul li a .icon, nav.active .color-change .icon{
        height: 65px;
        min-width: 65px;
        line-height: 55px;
    }
    nav.active ul li a .icon::before{
        height: 65px;
        min-width: 65px;
        line-height: 55px;
    }
    nav.active ul{
        gap: 30px;
    }
    nav ul li a .text, .color-change .text{
        font-size: 20px;
    }
    nav.active ul li,nav.active .color-change{
        transform: translateX(50px);
    }
    nav.active ul li.active{
        transform: translateX(70px);
    }
 }
 @media (max-width: 576px) { 
     nav{
         inset: 0px;
         width: 0;
     }
     nav ul{
         overflow: hidden;
         padding: 15px 0;
     }
     .menu-icon{
         right: -80px;
     }
     article{
         padding-left: 0;
     }
     section.active article{
        padding-left: 0;
     }
     .home{
        line-height: 58px;
     }
     .browse{
        line-height: normal;
     }
     section .about{
         padding-left: 20px;
     }
     section.active .about{
         padding-left: 20px;
     }
     section .about span:first-child{
         font-size:18vw !important;
         margin-bottom: -20px;
     }
     section .about p{
        font-size:4vw !important;
     }
     .write.active{
     width: 34vw;
     animation: oc 1s steps(3);
     }
     section .about .sideback {
        width: 70vw;
        height: 70vw;
        background: rgb(0 110 255 / 25%) url(img2.png);
        background-repeat: no-repeat;
        background-size: 30vw;
        background-position: 50% 50%;
     }
     section .about .btn {
        font-size: 5vw;
     }
     section .about .cont{
         font-size: 6vw;
         width: 165px;
     }
     .profile{
         width: 80vw;
     }
     section .skills{
         padding: 10px;
         margin-top: 50px;
         min-height: 600px;
         max-height: 800px;
     }
     section.active .skills{
        padding-left: 20px;   
     }
     .suc-send{
         width: 70vw;
     }
     section .messages .inputs{
         width:350px;
         min-height: 125px;
         max-height: 125px;
     }
     .color-change{
        bottom: 20px;
     }
     .section .skills .section{
         padding: 0px 10px;
         min-height: 29vh;
     }
  }


